{
    "APP_SECRET": "YOUR_KEY",
    "APP_KEY": "YOUR_KEY",
    "ACCESS_TOKEN": null,
    "CLOUD_FOLDER_SYNC": "",
    "LOCAL_STORAGE_FOLDER": "/YOUR/ABSOLUTE/LOCAL/PATH/FOLDER",
    "REFRESH_TOKEN": null,
    "TOKEN_END_VALIDATION": null
}